*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F0EFEB;
}
img{
    width: 90%;
    height: auto;
}
.oko-img {
  position: absolute;    
  bottom: 20px;        
  left: 20px;         
  width: 100px;          
}
.bg-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;             
}
 .video{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .bg-image{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
.billede1{
    margin-top: 100px;
    margin-left: 20px;
}
.billede2{
    margin-top: 50px;
    margin-left: 20px;
}
div{
    margin-top: 25px;
    padding-inline: 30px;
    line-height: 1.5;
}
.section-grøn{
    background-color: #36482E;
    margin-top: 50px;
}
.tekst2 h2{
    color: #f0efeb;
}
.tekst2 p{
    color: #f0efeb;
}
li {
    font-family: ubuntu;
    color: #f0efeb;
    margin: 1rem;
}

button{
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 100px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 90px;
    font-family: lora;
    cursor: pointer;
}
.tekst2 button{
    color: #f0efeb;
    border: 2px solid #f0efeb;
}
button:hover {
    background-color: #dddbd4;
}

.tekst2 button:hover {
    background-color: #182a14;}

@media(min-width: 800px){
    img{
        height: auto;
        width: 80%;
        aspect-ratio: 2/2;
    }
    .grid_1-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .billede1{
        display: block;
        grid-column: 2;
        margin-bottom: 100px;
    }
    .grid_1-1 div{
        grid-row: 1;
        margin-top: 100px;
        padding: 100px;
        line-height: 2;
    }
    .section-grøn{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        padding: 60px 20px;
        align-items: center;
    }

    .billede2 {
        margin-top: 20px;
      }
    .section-grøn div{
        margin-top: 100px;
        line-height: 2;
    }
    .billede2{
        display: block;
        padding-bottom: 50px;
        padding-left: 30px;
    }     
}
