@font-face {
    font-family: lora;
    src: url(../fonts/Lora-Medium.otf);
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/UbuntuSans-VariableFont_wdth\,wght.ttf);
}

main {
    background-color: #F0EFEB;
}

h1, h2, h3 {
    font-family: lora;
    color: #2E2E2D;
}

p {
    font-family: ubuntu;
    color: #2E2E2D;
}