img {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: "lora";
    src: url(../fonts/Lora/Lora-VariableFont_wght.ttf);
}

@font-face {
    font-family: "brødtekst";
    src: url(../fonts/Ubuntu_Sans/UbuntuSans-VariableFont_wdth\,wght.ttf);
}

body {
    background-color: #F0EFEB;
    margin: 0;
    padding: 0;
}

@media (width <= 600px) {

    h1 {
            font-family: "lora";
            color: #2E2E2D;
            font-size: 24px;
            font-weight: 500;
    
            border-bottom: 1px solid #2E2E2D;
            padding-bottom: 10px;
            width: 150px;
            text-align: center;
            margin: 0 auto;
    
    
            margin-top: 40px;
        }
    
    h2 {
            font-family: "lora";
            color: #2E2E2D;
            font-size: 20px;
            font-weight: 500;
        }
    
    p {
            font-family: "brødtekst";
            color: #2E2E2D;
            font-size: 14px;
            line-height: 30px;
        }

    .grid_1-1 {
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .kon-tekst {
        margin-top: 30px;
    }

    .bild {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media (width >=600px) {

    main {
        max-width: 1000px;
        margin: 0 auto;
    }

    h1 {
            font-family: "lora";
            font-size: 32px;
            font-weight: 500;
            color: #2E2E2D;
    
            border-bottom: 1px solid #2E2E2D;
            padding-bottom: 10px;
            width: 200px;
    
    
            margin-top: 40px;
        }
    
    h2 {
            font-family: "lora";
            font-size: 24px;
            font-weight: 500;
            color: #2E2E2D;
        }
    
    p {
            font-family: "brødtekst";
            font-size: 14px;
            color: #2E2E2D;
            line-height: 20px;
        }
        
    .grid_1-1 {
        margin-top: 70px;
        margin-bottom: 70px;
        margin-left: 90px;
        margin-right: 80px;
    }
    
    .bild {
        margin-left: 30px;
        padding: 0%;
        }

}

/* layout */

@media (width >=600px) {

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

}